<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-detalle-orden-heading"
        data-cy="DetalleOrdenCreateUpdateHeading"
        jhiTranslate="tallerApp.detalleOrden.home.createOrEditLabel"
      >
        Create or edit a Detalle Orden
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let descripcionRef = editForm.get('descripcion')!;
        <div class="mb-3">
          <label class="form-label" for="field_descripcion" jhiTranslate="tallerApp.detalleOrden.descripcion">Descripcion</label>
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
          @if (descripcionRef.invalid && (descripcionRef.dirty || descripcionRef.touched)) {
            <div>
              @if (editForm.get('descripcion')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let cantidadRef = editForm.get('cantidad')!;
        <div class="mb-3">
          <label class="form-label" for="field_cantidad" jhiTranslate="tallerApp.detalleOrden.cantidad">Cantidad</label>
          <input type="number" class="form-control" name="cantidad" id="field_cantidad" data-cy="cantidad" formControlName="cantidad" />
          @if (cantidadRef.invalid && (cantidadRef.dirty || cantidadRef.touched)) {
            <div>
              @if (editForm.get('cantidad')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('cantidad')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let precioRef = editForm.get('precio')!;
        <div class="mb-3">
          <label class="form-label" for="field_precio" jhiTranslate="tallerApp.detalleOrden.precio">Precio</label>
          <input type="number" class="form-control" name="precio" id="field_precio" data-cy="precio" formControlName="precio" />
          @if (precioRef.invalid && (precioRef.dirty || precioRef.touched)) {
            <div>
              @if (editForm.get('precio')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('precio')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ordenTrabajo" jhiTranslate="tallerApp.detalleOrden.ordenTrabajo">Orden Trabajo</label>
          <select
            class="form-control"
            id="field_ordenTrabajo"
            data-cy="ordenTrabajo"
            name="ordenTrabajo"
            formControlName="ordenTrabajo"
            [compareWith]="compareOrdenTrabajo"
          >
            <option [ngValue]="null"></option>
            @for (ordenTrabajoOption of ordenTrabajosSharedCollection(); track $index) {
              <option [ngValue]="ordenTrabajoOption">{{ ordenTrabajoOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
