<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-vehiculo-heading" data-cy="VehiculoCreateUpdateHeading" jhiTranslate="tallerApp.vehiculo.home.createOrEditLabel">
        Create or edit a Vehiculo
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let placaRef = editForm.get('placa')!;
        <div class="mb-3">
          <label class="form-label" for="field_placa" jhiTranslate="tallerApp.vehiculo.placa">Placa</label>
          <input type="text" class="form-control" name="placa" id="field_placa" data-cy="placa" formControlName="placa" />
          @if (placaRef.invalid && (placaRef.dirty || placaRef.touched)) {
            <div>
              @if (editForm.get('placa')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_marca" jhiTranslate="tallerApp.vehiculo.marca">Marca</label>
          <input type="text" class="form-control" name="marca" id="field_marca" data-cy="marca" formControlName="marca" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_modelo" jhiTranslate="tallerApp.vehiculo.modelo">Modelo</label>
          <input type="text" class="form-control" name="modelo" id="field_modelo" data-cy="modelo" formControlName="modelo" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_color" jhiTranslate="tallerApp.vehiculo.color">Color</label>
          <input type="text" class="form-control" name="color" id="field_color" data-cy="color" formControlName="color" />
        </div>

        <!--div class="mb-3">
          <label class="form-label" for="field_cliente" jhiTranslate="tallerApp.vehiculo.cliente">Cliente</label>
          <select
            class="form-control"
            id="field_cliente"
            data-cy="cliente"
            name="cliente"
            formControlName="cliente"
            [compareWith]="compareCliente"
          >
            <option [ngValue]="null"></option>
            @for (clienteOption of clientesSharedCollection(); track $index) {
              <option [ngValue]="clienteOption">{{ clienteOption.nombre }}</option>
            }
          </select>
        </div-->

        <mat-form-field style="width: 100%">
          <mat-label>Cliente</mat-label>
          <input type="text" matInput [matAutocomplete]="auto" [formControl]="editForm.controls.cliente" />

          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCliente">
            <mat-option *ngFor="let cliente of clientesSharedCollection()" [value]="cliente">
              {{ cliente.nombre }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
